---
layout: default
title: Home
---
<!-- Main -->
<div id="main">
{% for post in paginator.posts %}
  <article class="post" itemtype="http://schema.org/BlogPosting" itemscope="">
      {% include postheader.html item=post %}
    <section class="post-content">{{ post.excerpt | remove: '<p>' | remove: '</p>' }}&hellip;</section>
    <a href="{{ post.url }}" class="read-more">Read More</a>
  </article>
  <hr class="post-list" />
{% endfor %}

  <!-- Pagination links -->
  <div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="icon fa-arrow-circle-o-left"><span class="label">Previous</span></a>
    {% else %}
    <span class="icon fa-arrow-circle-o-left"><span class="label">Previous</span></span>
    {% endif %}

    <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>

    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="icon fa-arrow-circle-o-right"><span class="label">Next</span></a>
    {% else %}
    <span class="icon fa-arrow-circle-o-right"><span class="label">Next</span></span>
    {% endif %}
  </div>
</div>
