---
layout: default
---
<div id="main">
  <article class="post" itemtype="http://schema.org/BlogPosting" itemscope="">
    {% include postheader.html item=page %}
    <section class="post-content" itemprop="articleBody">
      {{ content }}
    </section>

    <div class="post-footer" id="post-footer">
      {% include disqus.html %}
    </div>
  </article>
</div>

<script>
  $(document).ready(function() {
    var cpt = 1;
    $('#main').find('img').each(function () {
      if (!$(this).hasClass('emoji')) {
        $(this).wrap('<a data-lightbox="image-' + (++cpt) +'" data-title="'+ $(this).attr('alt') +'" href="'+ $(this).attr('src') +'"></a>');
      }})
  });
</script>