---
layout: default
---
<div id="main">
    <article>
        <header class="major">
            <h2 class="post-title">{{ page.title }}</h2>
            <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} &middot; {{ page.author }}{% endif %}{% if page.meta %} &middot; {{ page.meta }}{% endif %}</p>
        </header>
        <section>
            {{ content }}
        </section>
        <footer>
          {% include disqus.html %}
      </footer>
    </article>
</div>
